.side-text {
    text-align: center;
}

.filter-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 1rem 1.5rem;
    
}

.filter-nav a {
    padding: 0.3rem 0.6rem;
    text-transform: uppercase;
    border: 1px solid 
  
}

.filter-nav a.active {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.menu-items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em 1em;
    background-color: #ebe3db;
    padding: 2em 1em;
}

.menu-items-grid img,
.desserts-grid img,
.cocktails-grid img {
    width: 100%;
}

.desserts-grid,
.cocktails-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em 1em;
    background-color: #ebe3db;
    padding: 1em 1em;
}


@media screen and (min-width: 780px) and (max-width: 1100px) {  

    .menu-items-grid,
    .desserts-grid,
    .cocktails-grid {
        grid-template-columns: repeat(3, 1fr);
    }
  
} 

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    .menu-items-grid,
    .desserts-grid,
    .cocktails-grid {
        grid-template-columns: repeat(3, 1fr);
    }
  
}

:root {
    --couleur-primaire
}